<!--  
   File Name: footer.ejs
   Student’s Name: Arshil Shingala
   StudentID: 301318550
   Date: 09/24/2023
 -->
<head>
    <style>
      footer
      {
        text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    background-color: #D4EFDF; /* Light Green */
    padding: 10px;
    border-radius: 5px;
      }

    </style>
</head>
</header>
<footer>
    <p>Thank you for visiting my portfolio!</p>
</footer>
</body>
</html>
